
<head>
    <link rel="stylesheet" href="src/View/NewItemBackground.css"  type="text/css">
</head>
<body>
    <a href="Items">Home</a> |
    <a href="LogOut">Logout</a> 
    <hr>

    <div>
        <form action="NewItem" method="post" enctype="multipart/form-data">
        <input type="file" name="file" /><br>
        <input type="text" name="name" placeholder="Item name" ><br>
        <input type="text" name="price" placeholder="Price" ><br>
        <input type="text" name="amount" placeholder="Item amount" ><br>
        <p><input type="submit" value="Add"></p>
        </form>
    </div>
</body>

</html>