
body{
	background: #ececec;
   }
   


a{
	color: blue;
	font-size: 25px; 
}
dt{
	color: #000;
 	font-weight: 500;
 	text-transform: uppercase;
	 margin: 10px;

}

dd{
	margin: 10px;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

	


@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

.image {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.image img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 160;
	max-width: 60%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}


.button{
	background-color: blue;
	color: white;
	position: center;
	

}


.PButton1{

	position: absolute;
	bottom: 20px;
	left: 575px;
	width: 6%;
	height: 5%;
	background-color: blue;
	color: black;
	font-size: 100%;
	font-weight: bold;
	
}

.PButton2{
	position: absolute;
	bottom: 20px;
	left: 670px;
	width: 6%;
	height: 5%;
	background-color: blue;
	color: black;
	font-size: 100%;
	font-weight: bold;
	


}


  

